body {
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#Explaination {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#Principal {
    margin-left: 400px;
    margin-right: 400px;
}

#Welcome {
    background-color: darkgreen;
}

#myNavbar {
    background-color: black;
    color: lightgray;
    position: fixed;
}

#FTPD {
    margin-left: 250px;
    margin-right: 250px;
    text-align: left;
    font-weight: bold;
}

#Contacts {
    text-align: left;
    margin-left: 400px;
    margin-right: 400px;
}

.row::after {
    content: ""
        clear: both;
    display: table;

}

.travel_mainDiv {
    width: 33.33%;
    padding: 20px;
    border: 1px solid black;
    margin-left: 450px;
    margin-right: 450px;
}

.travel_mainDiv img {
    width: 100%;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 50%;
    display: inline-block;
    background-color: green;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: blueviolet
}

p {
    text-align: left;
    margin-left: 320px;
}

.text-success text-center text-capitalize {
    text-align: left;
    margin-left: 320px;
}

.list-group-item-text col-lg-7 col-md-7 col-sm-7 col-xs-12 {
    text-align: justify;
    margin-left: 400px;
    margin-right: 400px;
}

#test {
    margin-left: 375px;
    margin-right: 375px;
}

#P {
    margin-left: 300px;
}

#VP {
    margin-left: 265px;
}

#SM {
    margin-left: 265px;
}
